/* footer {
  background: linear-gradient(90deg, #1f2937 0%, #111827 100%);
  color: #f3f4f6;
  padding: 20px 40px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

footer a {
  color: #93c5fd;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #60a5fa;
} */

/* html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #d1d5db;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  padding: 0px 0;
  background: linear-gradient(90deg, #0f5b82 0%, #1a3744 50%, #0f5b82 100%);
  z-index: 10;
}