header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background: linear-gradient(90deg, #0f2027 0%, #3c5d6e 50%, #0f2027 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

header > img {
    width: 50px;
}

header > h1 {
    font-weight: 400;
    color: white;
}